

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, <%= @user.username %>!</h2>
    <a href=<%= "/lists/all_with_items" %>><button>View All Shopping Lists with Items</button></a><br>
    <br>
    <br>

    <div class="content">
      <h3>Your Shopping Lists</h3>
      <p>Click a list to view grocery items</p>
      <ul>
        <% @user.shopping_lists.each do |list| %>
            <li><a href=<%= "/lists/#{list.id}" %>><%= list.name %>   </a>
            <a href=<%= "/lists/#{list.id}/edit" %>><button>Edit</button></a>
            <form action=<%= "/lists/#{list.id}" %> method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="button" onClick="confirmSubmit(this.form);" value="Delete">
            </form></li><br>
        <% end %>
      <form action=<%= "/lists/index" %> method="post">
        <li><input type="string" name="new_list">
        <input type="submit" value="Add">
          <% if @list.errors.any? %>
            <p>
            <% @list.errors.full_messages.each do |msg| %>
              <%= msg %>. 
            <% end %>
            </p>
          <% end %>
        </li>
      </form>
      </ul>
      <br>
      <br>
    </div>


  </div>
</div>

