<%# viewable only to the user self %>

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Edit Your Profile</h2>

    <div class="content">
      <p><%= @error %></p>
      <form action=<%= "/users/#{session[:user_id]}/edit" %> method="POST">
            
      <input type="hidden" name="_method" value="PUT">
        <p>
        <label for="username">Name:</label>
        <input type="string" name="username" value="<%= @user.username %>"><br>
        <br>
        <label for="email">Email:</label>
        <input type="string" name="email" value="<%= @user.email %>"></p><br>

        <label for="password">Password Required:</label>
        <input type="password" name="password">
        <input type="submit" value="Submit Changes"><br>
      </form>
      <br>
      <br>
      <p><a href=<%= "/users/#{session[:user_id]}" %>><button><- Back</button></a></p>

    </div>


  </div>
</div>

<%# "submit an update for a user"
"edit user name, email, and/or password"
"requires password" %>