<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Edit Your Item</h2>

    <div class="content">
      <p><%= @list.name %>: <%= @old_item == nil ? @item.name : @old_item[:name] %> (<%= @old_item == nil ? @item.quantity : @old_item[:quantity] %>)</p>
      <form action=<%= "/lists/#{@list.id}/groceries/#{@item.id}/edit" %> method="POST">
      <input type="hidden" name="_method" value="PUT">
        <p>
        <label for="edit_item_name">Name:</label>
        <input type="string" name="edit_item_name" value="<%= @item.name %>"><br>
        <br>
        <label for="edit_item_quantity">Quantity:</label>
        <input type="number" name="edit_item_quantity" min="1" value="<%= @item.quantity %>" size=5><br>
        <br>
        <label for="associated_list">Change List:</label>
        <select name="associated_list">
          <% @user.shopping_lists.each do |l| %>
            <% if l.id == @list.id %>
              <option value="<%=l.id%>" selected><%=l.name%></option>
            <% else %>
              <option value="<%=l.id%>"><%=l.name%></option>
            <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <input type="submit" value="Save">
          <% if @item.errors.any? %>
            <p>
            <% @item.errors.full_messages.each do |msg| %>
              <%= msg %>. 
            <% end %>
            </p>
          <% end %>
      </form>
      <br>
      <br>
      <p><a href=<%= "/lists/#{@list.id}" %>><button><- Back</button></a></p>

    </div>


  </div>
</div>